<div class="main-container">
    <header class="header header-6">
        PROYECTO BETA - MTC
    </header>
    <div class="content-container">
        <nav class="sidenav">
            <section class="sidenav-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Layers</th>
                            <th>Ícono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Alertas</th>
                            <th><img src="../../assets/marker.png" width="20" height="20"/></th>
                        </tr>
                        <tr>
                            <th>Comisarías</th>
                            <th><img src="../../assets/icon-policia.png" width="20" height="20"/></th>
                        </tr>
                        <tr>
                            <th>Hospitales</th>
                            <th><img src="../../assets/icon-hospital.png" width="30" height="30"/></th>
                        </tr>
                        <tr>
                            <th>Bomberos</th>
                            <th><img src="../../assets/icon-bombero.png" width="20" height="20"/></th>
                        </tr>
                    </tbody>
                </table>
            </section>
        </nav>
        <div class="content-area">
            <div id="mapa">

            </div>
        </div>
    </div>
  </div>
